# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
#*.exe
*.out
*.app

# IDE / 编辑器
/.vs/
/.vscode/
/.idea/
/c_wrapper/.idea/
/Android/.idea/
/3rdpart/media-server/.idea/
/3rdpart/ZLToolKit/cmake-build-mq/

# 系统文件
*.DS_Store

# 构建产物
/build/
/release/
/out/
/X64/
/linux/
/ios/
/cmake-build-debug/
/cmake-build-release/
/cmake-build-*/
/Android/app/src/main/cpp/libs_export/

# 运行时数据 / 录像 / 抓包 / 日志
dump/
*.pcapng
*.pcap
*.log
ffmpeg/

# 打包产物
*.tar.gz
*.zip
