#接口函数log
usbdec_api=0
#视频解码相关log
usbdecchn_video=0
#音频解码相关
usbdecchn_audio=0
#安全相关log
usbdecchn_sec=0
#usbbulk传输
usbdev_bulk=0
#usb命令log
usbcmd_chn=0
#winusb相关log
usbwinusb=0
#设备管理log
usbdevman=0
#时间戳log
timestamp=0
#中断信息
usbdev_int=0
#是否输出到dbgview
dbgview=0
#log是否分卷
splitlog=0
#是否保存输入数据
dumpsrc=0
#是否输出时间戳
dbg_time=0